body {
  /* background: linear-gradient(135deg, #81a746, #bae656); */
  background-image: url(https://wallpapercave.com/wp/wp10615928.jpg);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}